.footer
  .container
    .col-md-4
      p Nếu bạn có bất kỳ vấn đề gì cần hỗ trợ và giải đáp về cuộc thi đua Top “Lotte Amazing Race” xin vui lòng liên hệ:
      ul
        li Hotline: 098 111 3588
        li Email: support@accesstrade.vn
      p Copyright by accesstrade VN
      
    .col-md-4
      h3 Câu hỏi thưởng gặp
      ul
        li Tổng hợp các câu hỏi thường gặpppppppppp
        li Tổng hợp các câu hỏi thường gặpppppppp
        li Tổng hợp các câu hỏi thường gặp
      a(href="#").btn.btn-footer Xem Tất Cả
      
    .col-md-4
      h3 Kết nối với ACCESSTRADE 
      ul.unstyled-li
        li 
          i.fa.fa-facebook-square(aria-hidden='true')
          |  Hotline: 098 111 3588
        li 
          i.fa.fa-users(aria-hidden='true')
          | Kiếm Tiền Online Cùng ACCESSTRADE
        li 
          i.fa.fa-youtube-square(aria-hidden='true')
          | ACCESSTRADE Vietnam
