header
  .wrap-header
    nav.navbar.navbar-default.main-nav
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.logo-1(href='#') Brand
          a.navbar-brand.logo-2(href='#') Brand
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.index
              a(href='#')
                | Home
                span.sr-only (current)
            li
              a(href='#') Ranking
            li
              a(href='#') Week 1
            li
              a(href='#') Exclusive coupon 
            li
              a(href='#') Hot promotion
            li
              a(href='#') Best sales
          a(href="#").btn.btn-default.btn-lg.login-btn.grad-text Đăng Nhập
          
    .col-md-8.col-md-offset-2.intro.text-center
      h2 HOA HỒNG CỰC KHỦNG - GIẢI THƯỞNG CỰC COOL!
      p.text-intro Đua top Lotte giật giải thưởng khủng lên tới 40,000,000đ
      a(href="#").btn.btn-default.btn-lg.button Đua Top Ngay
