section.campaign
  .container
    .campaign-a.text-center
      p Khởi động với chiến dịch AMAZING LOTTE RACE,
        br
        | tuần lễ đầu tiên áp dụng với ngành hàng Điện tử với thông tin cụ thể như sau:
      
      .row
        .col-sm-3.col-md-3
          img(src="assets/img/product/product-5.jpg", alt="product")
          span.grad-text Tăng hoa hồng lên: xx%
        .col-sm-3.col-md-3
          img(src="assets/img/product/product-6.jpg", alt="product")
          span.grad-text Ngành hàng áp dụng:
        .col-sm-3.col-md-3
          img(src="assets/img/product/product-7.jpg", alt="product")
          span.grad-text Nhân đôi điểm thưởng ATSP
        .col-sm-3.col-md-3
          img(src="assets/img/product/product-8.jpg", alt="product")
          span.grad-text Từ xx/06/2017
            br
            | đến yy/2016/2017
      
    .campaign-b.text-center
      h2.campaign-intro Cơ cấu giải thưởng:
      
      .row.wrap-campaign
        .col-md-4
          h2 1 Giải Nhất:
          h2.grad-text Voucher Lotte
          h2.price.grad-text 2,000,000 đ
          small Dành cho Publisher đạt số điểm thưởng ATSP cao nhất tuần
          
        .col-md-4
          h2 1 Giải Nhì:
          h2.grad-text Voucher Lotte
          h2.price.grad-text 1,000,000 đ
          small Dành cho Publisher đạt số điểm thưởng ATSP cao thứ hai tuần.
          
        .col-md-4
          h2 1 Giải Ba:
          h2.grad-text Voucher Lotte
          h2.price.grad-text 200,000 đ
          small Dành cho 3 Publisher đạt tổng số ATSP cao nhất nhóm từ 1 đến 10 ATSP, 11 đến 50 ATSP và 51 đến 100 ATSP
