section.ranking
  .container
    .row
      .col-sm-12.col-md-6
        .panel.panel-default
          .panel-heading.primary-color
            h3.panel-title Grand Prize Ranking
            
          // Nav tabs
          ul.nav.nav-pills.text-center(role='tablist')
            li.active(role='presentation')
              a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Chấp Nhận
            li(role='presentation')
              a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Phát Sinh
          .panel-body
            div.panel1
              // Tab panes
              .tab-content
                #home.tab-pane.active(role='tabpanel')
                  .line.col-md-12
                    span.count.pull-left 1
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1566 points
                  .line.col-md-12
                    span.count.pull-left 2
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1358 points
                  .line.col-md-12
                    span.count.pull-left 3
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1266 points
                  .line.col-md-12
                    span.count.pull-left 4
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1123 points
                  .line.col-md-12
                    p ...
                  .line.col-md-12
                    span.count.pull-left 99
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 15 points
                    
                #profile.tab-pane.fade(role='tabpanel')
                  .line.col-md-12
                    span.count.pull-left 1
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1123 points
                  .line.col-md-12
                    span.count.pull-left 2
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1266 points
                  .line.col-md-12
                    span.count.pull-left 3
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1123 points
                  .line.col-md-12
                    span.count.pull-left 4
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1358 points
                  .line.col-md-12
                    p ...
                  .line.col-md-12
                    span.count.pull-left 99
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1358 points

      .col-sm-12.col-md-6
        .panel.panel-default
          .panel-heading
            h3.panel-title Weekly ranking
            form.check-week
              select(name='week')
                option(value='1') Week 1
                option(value='2') Week 2
                option(value='3') Week 3
                option(value='4') Week 4
            
          // Nav tabs
          ul.nav.nav-pills.text-center(role='tablist')
            li.active(role='presentation')
              a(href='#home1', aria-controls='home', role='tab', data-toggle='tab') Chấp Nhận
            li(role='presentation')
              a(href='#profile1', aria-controls='profile', role='tab', data-toggle='tab') Phát Sinh
          .panel-body
            div.panel2
              // Tab panes
              .tab-content
                #home1.tab-pane.active(role='tabpanel')
                  .line.col-md-12
                    span.count.pull-left 1
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1566 points
                  .line.col-md-12
                    span.count.pull-left 2
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1358 points
                  .line.col-md-12
                    span.count.pull-left 3
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1266 points
                  .line.col-md-12
                    span.count.pull-left 4
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1123 points
                  .line.col-md-12
                    p ...
                  .line.col-md-12
                    span.count.pull-left 99
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 15 points
                    
                #profile1.tab-pane.fade(role='tabpanel')
                  .line.col-md-12
                    span.count.pull-left 1
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1123 points
                  .line.col-md-12
                    span.count.pull-left 2
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1266 points
                  .line.col-md-12
                    span.count.pull-left 3
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1123 points
                  .line.col-md-12
                    span.count.pull-left 4
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1358 points
                  .line.col-md-12
                    p ...
                  .line.col-md-12
                    span.count.pull-left 99
                    p.pull-left Grand Prize Ranking
                    span.grad-text.text-right.pull-right 1358 points
