section.countdown
  .container
    .wrap-countdown
      span.circle1
        p.count-text Tuần lễ thời trang
        p.count-text.count-text2 June 12th – June 25th
      span.circle2
        p.count-text.count-text3 Week 2
      span.circle3
        p.count-text.count-text3 Week 5
        
    .countdown-timer.text-center
      h2 Thời gian còn lại
      .row
        .col-md-2 
          .count 4
        .col-md-2 
          .count 5
        .col-md-2 
          .count 5
        .col-md-2 
          .count 2
        .col-md-2 
          .count 1
        .col-md-2 
          .count 0
  
  
