section.sales
  .container
    .sales-info.text-center
      h2 Sản phẩm bán chạy
      p Những sản phẩm cực hot đang được mua nhiều nhất trên www.lotte.vn

    .row.wrap-sales
      .col-sm-3.col-md-3.box-sales
        a(href="#"): img(src="assets/img/top-sales/top-1.jpg", alt="top-sales")
        p Smart Tivi 4K Samsung 43 inch - UA43KU6000
        span.grad-text 10.599.000 Đ
        span.skite 14.398.700 Đ
        a(href="#").btn.btn-coupon.btn-coupon--1 Tạo Link Ngay
      .col-sm-3.col-md-3
        a(href="#"): img(src="assets/img/top-sales/top-2.jpg", alt="top-sales")
        p Xe đạp Fixed Gear Single Cổ sừng dê (Đen phối Trắng)
        span.grad-text 1.799.000 Đ 
        span.skite  2.500.000 Đ
      .col-sm-3.col-md-3
        a(href="#"): img(src="assets/img/top-sales/top-3.jpg", alt="top-sales")
        p Nồi cơm điện SUNHOUSE SHD8625 1.8L
        span.grad-text 499.000 Đ
        span.skite 860.000 Đ
      .col-sm-3.col-md-3
        a(href="#"): img(src="assets/img/top-sales/top-4.jpg", alt="top-sales")
        p Đồng Hồ Nam Limit 5492 Dây Da Màu Nâu (43mm)
        span.grad-text 653.400 Đ
        span.skite 1.452.000 Đ
