section.showcase
  .container
    .col-md-6
      img.showcase-pic(src="assets/img/logo3.png", alt="amazing race")
      p Đột phá doanh thu Affiliate ACCESSTRADE với chương trình đua Top Publisher - “LOTTE AMAZING RACE” với nhiều chính sách hoa hồng đặc biệt & chương trình bất ngờ theo từng tuần lễ. 
      h3.text-pro Cơ hội giật thưởng lớn lên tới 40 triệu đồng
      p Giải thưởng chung cuộc tính trên tổng số điểm thưởng ACCESSTRADE Super Point (ATSP) sau 5 tuần tham gia đua Top.
      p.italic * Thời gian triển khai: Từ ngày aa/06/2017 đến hết ngày bb/06/2017
      p.italic * Áp dụng đối với tất cả các ngành hàng, sản phẩm trên lotte.vn
      
    .col-md-6
      .col-xs-12.col-sm-6.col-md-6.wrap-box
        .box
          h2.grad-text 1 Giải Nhất
          small Tổng ATSP lớn nhất, tối thiểu 1,000 Points
          br
          p Apple iPhone 7 32G Gold
          p.grad-text Trị giá 15,779,000 VNĐ
          
      .col-xs-12.col-sm-6.col-md-6.wrap-box  
        .box
          h2.grad-text 1 Giải Nhì
          small Tổng ATSP thứ hai, tối thiểu 800 Points
          br
          p Máy chơi game PS4
          p.grad-text Trị giá 7,990,000 VNĐ
          
      .col-xs-12.col-sm-6.col-md-6.wrap-box
        .box
          h2.grad-text 1 Giải Ba
          small Tổng ATSP thứ ba, tối thiểu 500 Points
          br
          p 1 Lò vi sóng LG & 1 Maý hút bụi LG
          p.grad-text Trị giá 3,490,000 VNĐ
          
      .col-xs-12.col-sm-6.col-md-6.wrap-box
        .box
          h2.grad-text Và nhiều giải thưởng hấp dẫn
          a.detail(href="") Xem chi tiết 
            i.fa.fa-long-arrow-right(aria-hidden='true')

  
        
