section.promotion
  .container
    .promotion-info.text-center
      h2 Khuyến mại cực hot
      p Chúng tôi luôn mang đế Quý khách hàng nhưng ưu đãi hấp dẫn nhất
        br
        | Các chương trình khuyến mãi cực hot chỉ có ở www.lotte.vn
        
    .row.wrap-promotion.text-center
      .col-md-4.c
        a(href="#"): img(src="assets/img/promotion/promotion-1.jpg", alt="promotion")
        a(href="#").btn.btn-coupon.btn-coupon--1 Tạo Link Ngay
        
      .col-md-4
        a(href="#"): img(src="assets/img/promotion/promotion-2.jpg", alt="promotion")
        a(href="#").btn.btn-coupon.btn-coupon--1 Tạo Link Ngay
        
      .col-md-4
        a(href="#"): img(src="assets/img/promotion/promotion-3.jpg", alt="promotion")
        a(href="#").btn.btn-coupon.btn-coupon--1 Tạo Link Ngay
        
