section.coupon
  .container
    .coupon-info.text-center
      h2 Coupon độc quyền - Duy nhất tại Accesstrade
      p Tận hưởng niềm vui mua sắm với hàng loạt mã coupon hấp dẫn 
        br
        | Ưu đãi chưa bao giờ lớn đến vậy
        
    .row.coupon-main
      .col-sm-6.col-md-6
        .wrap-pic
          a(href="#"): img(src="assets/img/voucher/voucher-1.jpg", alt="voucher")
          p.counpon-text * Áp dụng cho ngành hàng Điện tử
        p.count-down Chỉ còn 
          span.grad-text 19 
          | giờ 
          span.grad-text 24 
          | phút 
          span.grad-text 30 
          | giây
        input.coupon-deal(type="text" placeholder="910JWKQ") 
        a(href="#").btn.btn-coupon.btn-coupon--1 Copy
        a(href="#").btn.btn-coupon.btn-coupon--2 Tạo Link
        
      .col-sm-6.col-md-6
        .wrap-pic
          a(href="#"): img(src="assets/img/voucher/voucher-2.jpg", alt="voucher")
          p.counpon-text * Áp dụng cho ngành hàng Điện tử
        p.count-down Chỉ còn 
          span.grad-text 19 
          | giờ 
          span.grad-text 24 
          | phút 
          span.grad-text 30 
          | giây
        input.coupon-deal(type="text" placeholder="910JWKQ") 
        a(href="#").btn.btn-coupon.btn-coupon--1 Copy
        a(href="#").btn.btn-coupon.btn-coupon--2 Tạo Link
