section.hitech
  .container
    .row
      .col-md-6.hitech-1
        h2 Khám phá chủ đề đua top đầu tiên
        img.hitect-logo(src="assets/img/logo4.png", alt="logo")
        
      .col-md-6.hitech-2
        img(src="assets/img/product/product-4.png", alt="product")
